html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    position: relative;
}

input {
    font-size: 12px;
}

h1 {
    color: #525454;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
}

#map {
    bottom:0px;
    height: 100%;
    transition: margin-left .5s;
    padding: 20px;
}

.text {
    font-size: 12px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.list-item {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav .list-item{
        font-size: 8px;
    }
}
@media only screen and (max-width: 450px) {
    .list-item {
        font-size: 18px;
        text-align: center;
        padding: 8px 8px 8px 0;
    }
    #list {
        padding-left: 2px;
    }
    h1 {
        font-size: 20px;
    }
}

